# 판다스 시작하기

---
## 데이터 집합 불러오기

In [1]:
import pandas as pd

In [2]:
# gapminder.tsv : 열이 탭으로 구분 -> sep='\t'로 지정
df=pd.read_csv('../data/gapminder.tsv', sep='\t')
df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [3]:
type(df)

pandas.core.frame.DataFrame

In [4]:
# 행, 열의 수 튜플로 반환
df.shape

(1704, 6)

In [8]:
# 열이름
df.columns

Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')

In [6]:
df.dtypes

country       object
continent     object
year           int64
lifeExp      float64
pop            int64
gdpPercap    float64
dtype: object

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   continent  1704 non-null   object
 2   year       1704 non-null   int64
 3   lifeExp    1704 non-null   float64
 4   pop        1704 non-null   int64
 5   gdpPercap  1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

### 판다스와 파이썬 자료형 비교
|판다스 자료형|파이썬자료형|설명|
|--|--|--|
|object|string|문자열|
|int64|int|정수|
|float64|float|소수점을 가진 숫자|
|datetime64|datetime|파이썬 표준 라이브러리인 datetime이 반환하는 자료형|

---
## 데이터 추출하기

==================================================
### 열 단위 데이터 추출하기

#### 한 열을 선택 : DF['열이름']

In [11]:
country_df=df['country']

type(country_df)

pandas.core.series.Series

In [12]:
country_df.head()

0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
Name: country, dtype: object

#### 여러 열 선택 : DF['열1','열2','열3'...]

In [15]:
subset = df[['country', 'continent', 'year']]

type(subset)

pandas.core.frame.DataFrame

In [16]:
subset.head()

       country continent  year
0  Afghanistan      Asia  1952
1  Afghanistan      Asia  1957
2  Afghanistan      Asia  1962
3  Afghanistan      Asia  1967
4  Afghanistan      Asia  1972

==================================================
### 행 단위 데이터 추출하기
|속성|설명|
|:--:|--|
|loc|인덱스(행 이름)를 기준으로 행 데이터를 추출|
|iloc|행 번호를 기준으로 행 데이터를 추출|

In [17]:
df.loc[0]

country      Afghanistan
continent           Asia
year                1952
lifeExp           28.801
pop              8425333
gdpPercap     779.445314
Name: 0, dtype: object

In [19]:
df.loc[99]

country      Bangladesh
continent          Asia
year               1967
lifeExp          43.453
pop            62821884
gdpPercap    721.186086
Name: 99, dtype: object

In [24]:
# 마지막 행 : loc속성 사용 -> 시리즈
df.loc[df.shape[0]-1]

country        Zimbabwe
continent        Africa
year               2007
lifeExp          43.487
pop            12311143
gdpPercap    469.709298
Name: 1703, dtype: object

In [23]:
# 마지막 행 :  .tail() 사용 -> 데이터프레임
df.tail(1)

       country continent  year  lifeExp       pop   gdpPercap
1703  Zimbabwe    Africa  2007   43.487  12311143  469.709298

In [25]:
# 여러 행 추출
df.loc[[9,99,999]]

         country continent  year  lifeExp       pop    gdpPercap
9    Afghanistan      Asia  1997   41.763  22227415   635.341351
99    Bangladesh      Asia  1967   43.453  62821884   721.186086
999     Mongolia      Asia  1967   51.253   1149500  1226.041130