# 문자열 자료형

---
### 이스케이프 코드
 - \n : 줄바꿈
 - \t : 탭
 - \\', \\", \\\ : ', ", \ 그대로 표현

---
### 문자열 연산

In [3]:
# 문자열 더해서 연결
head="Python"
tail=' is fun'
head+tail

'Python is fun'

In [4]:
# 문자열 곱하기
a='Python'
a*2

'PythonPython'

---
### 문자열 인덱싱과 슬라이싱

In [7]:
a= 'Life is too short, you need Python'

========================================
#### 인덱싱

In [ ]:
# 3번인덱스
a[3]

In [8]:
# 마지막 인덱스 : -1번 인덱스
a[-1]

'n'

In [9]:
# a[-0]=a[0] 
a[0], a[-0]

('L', 'L')

========================================
#### 슬라이싱

In [11]:
b=a[0]+a[1]+a[2]+a[3]
b

'Life'

In [12]:
# 0~3까지 슬라이싱(마지막 인덱스 포함x)
a[:4]

'Life'

In [13]:
# 처음부터 끝까지
a, a[:]

('Life is too short, you need Python', 'Life is too short, you need Python')

In [15]:
# 문자열 나누기
a='20010331Rainy'

year=a[:4]
day=a[4:8]
weather=a[8:]

year, day, weather

('2001', '0331', 'Rainy')

---
### 문자열 포맷팅

In [16]:
# 숫자 바로 대입
'I eat %d apples'%3

'I eat 3 apples'

In [17]:
# 문자열 바로 대입
'I eat %s apples'%'five'

'I eat five apples'

In [18]:
# 숫자값 변수로 대입
number=3
'I eat %d apples'%number

'I eat 3 apples'

In [19]:
# 2개 이상의 값 넣기
number=10
day='three'

'I eat %d apples. so I was sick for %s days.'%(number, day)

'I eat 10 apples. so I was sick for three days.'

========================================
#### 문자열 포맷 코드
 - %s : 문자열
 - %c : 문자 1개
 - %d : 정수
 - %f : 부동소수
 - %o : 8진수
 - %x : 16진수
 - %% : %자체

========================================
#### 포멧코드와 숫자 함께 사용

In [22]:
# 정렬과 공백

# 전체길이 10문자열에 'hi'오른쪽 정렬
'%10s'%"hi"

'        hi'

In [23]:
# 전체길이 10문자열에 'hi'왼쪽 정렬
'%-10s'%"hi"

'hi        '

In [24]:
# 소수점 표현
'%0.4f'%3.42134234

'3.4213'

In [25]:
'%10.4f'%3.42134234

'    3.4213'

========================================
#### format 함수를 사용한 포매팅

In [26]:
# 숫자 바로 대입
'I eat {0} apples.'.format(3)

'I eat 3 apples.'

In [27]:
# 문자열 바로 대입
'I eat {0} apples.'.format('five')

'I eat five apples.'

In [28]:
# 숫자값을 가진 변수로 대입
number=3
'I eat {0} apples.'.format(number)

'I eat 3 apples.'

In [29]:
# 2개 이상의 값 넣기
number=10
day='three'

'I eat {} apples. so I was sick for {} days.'.format(number, day)

'I eat 10 apples. so I was sick for three days.'

In [30]:
# 이름으로 넣기
'I eat {number} apples. so I was sick for {day} days.'.format(number=10, day='three')

'I eat 10 apples. so I was sick for three days.'

In [31]:
# 혼용
'I eat {0} apples. so I was sick for {day} days.'.format(10, day='three')

'I eat 10 apples. so I was sick for three days.'

In [32]:
# 왼쪽정렬
'{0:<10}'.format('hi') # 0번인덱스, "hi"문자열, 전체길이 10, 왼쪽정렬

'hi        '

In [33]:
# 오른쪽정렬
'{0:>10}'.format('hi')

'        hi'

In [34]:
# 가운데정렬
'{0:^10}'.format('hi')

'    hi    '

In [35]:
# 공백 채우기
'{0:=^10}'.format('hi')

'====hi===='

In [36]:
# 소수점 표현하기
y=3.42134234
'{0:0.4f}'.format(y)

'3.4213'

In [38]:
# 소수점 표현하기 + 가운데 정렬
y=3.42134234
'{0:^10.4f}'.format(y)

'  3.4213  '

In [39]:
# '{', '}' 문자 표현하기
'{{and}}'.format()

'{and}'

========================================
#### f 문자열 포맷팅

In [40]:
name='홍길동'
age=30
f'이름은 {name}, 나이는 {age}살'

'이름은 홍길동, 나이는 30살'

In [41]:
f'이름은 {name}, 나이는 {age+1}살'

'이름은 홍길동, 나이는 31살'

In [47]:
# 딕셔너리 활용

dic={name:'홍길동',age:30}

f'이름은 {dic[name]}, 나이는 {dic[age]}살'

'이름은 홍길동, 나이는 30살'

In [49]:
# 정렬, 공백채우기
msg='hi'
f'{msg:=^10}'

'====hi===='

In [51]:
# 소수점
y=3.42134234
f'{y:^10.4f}'

'  3.4213  '